     body {
        background-color: #121212;
        color: #e0e0e0;
    }

    .container {
        margin-top: 30px;
    }

    pre, code {
        background-color: #1e1e1e;
        color: #e0e0e0;
        padding: 10px;
        border-radius: 5px;
    }

    .section-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    footer {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    }
    
.gtfobins-section iframe {
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 10px;
}


    .card-body {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    /* Estilo de la marca de agua */
    .ajg {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-30%);
        font-size: 20px;
        color: rgba(255, 255, 255, 0.1); /* Color blanco con opacidad */
        z-index: -1;
    }